/.project
/.settings
/.buildpath
.idea/
/htdocs/data/logs/*
/htdocs/data/cronlog/*
/htdocs/data/temp/*
/htdocs/cms/data/version/layout/*
/htdocs/cms/data/version/module/*
/htdocs/cms/data/version/css/*
/htdocs/cms/pimdam/*
/htdocs/cms/upload/*
/htdocs/data/config/production/config.local.php
/htdocs/data/config/testing/config.local.php
/htdocs/data/config/development/config.clients.php
/htdocs/data/config/development/config.php
/htdocs/data/config/development/config.local.php
/htdocs/cms/cache/code/*.php
/htdocs/cms/cache/templates_c/*.php
/htdocs/cms/cache/*.png
/htdocs/cms/cache/*.jpg
/htdocs/cms/cache/*.jpeg
/htdocs/cms/cache/*.js
/htdocs/cms/cache/*.css
/htdocs/contenido/external/frontend/cache/code/*
/htdocs/contenido/external/frontend/cache/*
*.DS_Store
*.swp
Thumbs.db
desktop.ini
htdocs/data/cache/form_assistant/*
htdocs/data/cache/form_assistant_ajax_upload/*
/nbproject/private/